
*{
	font-family:arial;
}

.wrapper .todo_header h1{
	font-size:34px;
	text-align:center;
	margin:0;
}

.wrapper{
	width:400px;
	margin:0 auto;
}

.wrapper .todo{
	border:1px solid #C2C2C2;
	height:500px;
}


.wrapper .todo form .todo_enter{
	height:40px;
	width:80%;
	border:0px;
	font-size:22px;
	resize:none;
	color:#d3d7de;
	margin-left:5px;
	margin-top:10px;
}

.wrapper .todo .todo_entries{
	border-top:1px black solid;
	height:70px;
}

.wrapper .todo .todo_entries:last-child{
	border-bottom:1px black solid;
}

.wrapper .todo #todo_display span{
	display:block;
	font-size:25px;
	height:25px;
}
